.card_pessoal{
    display: flex;
    margin-top: 3vh;
    background-color: #C2CBD9;
}

.busca_addtarefa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
}

.modal-container{
    z-index: 9999;  
    position: fixed;
    width: 100%;
    height: 100%;
    background: #c2cbd92f;
    display: none;
}

.modal section{
    padding: 2rem;
}

.modal-conteudo {
    border: solid black;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.modal-header{
    display: flex;
    flex-direction: column;
}

.modal-header span{
    cursor: pointer;
    align-self: flex-end;
    padding: .3em;
}

.titulo-modal{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.modal-form label {
    font-weight: 500;
    font-size: 25px;
    margin-top: 25px;
}

.modal-form input{
    width: 100%;
    border: none;
}

.modal-footer{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.modal-button{
    opacity: 100%;
    width: 496px;
    height: 58px;
    background-color: #FFC53D;
}

.modal-open{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.busca_addtarefa button{
    width: 181px;
    height: 55px;
    margin-top: 3vh;
    border: none;
    border-radius: 15px;
    background: #FFC53D;
    font-size: 18px;
    font-weight: 500;
    transition: transform 100ms;
}

.busca_addtarefa button:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.card_pessoal_busca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 428px;
    height: 55px;
    border-radius: 20px;
    margin-top: 3vh;
    transition: transform 200ms;
    background-color: #C2CBD9;
}

.paragrafo_card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;

}
.texto_paragrafo{
    display: flex;
    align-items: center;
}

.modal_lixeira{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_lixeira button{
    border: none;
    background: none;

}

.modal_lixeira img{
    width: 20px;
    height: 25px;
    opacity: 50%;
    margin-top: 5vh; 
}

.container_metal{
     z-index: 9999;  
    position: fixed;
    width: 100%;
    height: 100%;
    background: #c2cbd92f;
    display: none;
}

